streamlit==1.33.0
PyMuPDF==1.23.26
pandas==2.2.1
python-docx==1.1.0
python-dotenv==1.0.1
google-generativeai
langchain
langchain-core
pyttsx3==2.90
SpeechRecognition==3.10.1
faiss-cpu==1.7.4 --find-links https://dl.fbaipublicfiles.com/faiss/wheel/faiss_cpu-1.7.4-cp310-cp310-win_amd64.whl
langchain-google-genai
sentence-transformers==2.5.1
langchain-community==0.0.29

